
  AuthType Digest
  AuthName "investor"
  AuthUserFile /home/mugga/digest
  AuthGroupFile /home/mugga/groups
  Require group surfaceinvestors depthinvestors founders
  Order allow,deny
  Satisfy any

